* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style: none;
  font-family: 'CaviarDreams';
}

@font-face {
  font-family: CaviarDreams;
  src: url(./fonts/CaviarDreams.ttf);

}

@font-face {
  font-family: CaviarDreamsBold;
  src: url(./fonts/CaviarDreams_Bold.ttf);
}

header {
  position: fixed;
  width: 100%;
  
  z-index: 999 !important;
  
}
.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #000;
  min-height: 15vh;
  background: rgba(255, 255, 255, 0.9);
}

.logo {
  display: flex;
  height: 8.5vh;
}

.contacto__btn {
  padding-top: 7%;
  padding-bottom: 7%;
  
  background-color: rgba(123, 97, 255, 0.27);
  border: rgba(123, 97, 255, 1) solid 3px;
  box-sizing: border-box;
  border-radius: 15px;
  font-family: 'CaviarDreamsBold';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;




}
.nav-links {
  font-family: 'CaviarDreamsBold';
  font-weight: 700;
  z-index: 100;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  font-size: 3vh;
  position: fixed;
  top: 8.52vh;
  right: 0;
  height: 92vh;
  width: 15%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.9);
  transform: translateX(100%);
  transition: transform 1s ease;
}

.nav-links li {
  padding-left: 2em;
  padding-top: 1.9em;
  padding-bottom: 1.5em;

}

ol, ul {
  padding-left: 0px;
}

a{
  text-decoration: none;
  color: black;
}

.burger {
  display: block;
  padding: 0.5rem;
  cursor: pointer;
  background-color: rgba(203, 196, 242, 255);
}

.line {
  height: 2px;
  width: 35px;
  margin: 0.5rem 0;

  background: #000;
  transition: transform 0.75s ease, opacity 0.75s ease;
}

@media screen and (max-width: 800px) {
  .nav-links {
    width: 60%;
  }
}

.main-nav.show .nav-links {
  transform: translateX(0%);
}

@media screen and (max-width: 800px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .burger {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 8vh;
    right: 0;
    height: 92vh;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.9);
    transform: translateX(100%);
    transition: transform 1s ease;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  }
}
 /* MODAL */
.modal__h3 {
  font-weight: 700;
  font-family: 'CaviarDreamsBold';
}
.modal__boton {
  background: rgba(123, 97, 255, 0.57);
  border: 3px solid #7B61FF;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  border-radius: 20px;
  color: black;
  font-family: 'CaviarDreamsBold';
 
}

.modal-body {
  background-color:rgba(255, 255, 255, 0.1) !important ;
}
.modal__boton:hover {
  background-color: rgba(203, 170, 242, 255);
  
}
.modal__input {
  margin-top:2em ;
}

input:placeholder-shown {
  color: black;
  font-size: 1.5em;
  font-family: 'CaviarDreamsBold';
  background-color: rgba(203, 196, 242, 255);
}

 .mensaje-enviado {
  color:  black;
  display: block;
}

.mensaje-enviar {
  color:  #000;
  display: none;
}

.full-page {
  background: linear-gradient(rgba(5, 7, 12, 0.459),rgba(5,7,12,0.459)),
  url(./img/background/galaxy-scene.jpg);
	background-size: cover;
}



.border-headers {
  background-color: white;
  border-radius: 0px 0px 30px 30px;
  padding-left: 3vh;

}

.text-headers {
  position: absolute;
  width: 33vh;
  height: 4.5vh;
  left: 30vh;
  font-family: 'CaviarDreams';
  font-style: normal;
  font-weight: 700;
  font-size: 2.6vh;
  line-height: 3.2vh;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

bg-opacity{
  background-color: rgb(0, 0, 0);
}

bg-opacity:before {
    content:'';
    position: absolute;
          top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
  }

  .carousel-item{
    height: 550px!important;
  }
